<!-- go back to player homepage(games/index)
delete & edit a game
stretch goal: button @ bottom show their games by platform(filters)
stretch goal: view all games in the whole library(not just theirs - view only)
-->

<h3><%= @game.title.gsub(/\w+/, &:capitalize) %></h3>
<hr width="25%">
<p>
    <p>Platform: <%= @game.platform %></p>
    <p>Release Date: <%= @game.release_date %></p>
    <p>ESRB Rating: <%= @game.rating %></p>
    Description: </br>
    <p><%= @game.description %></p></br>
</p>
<p>
    <p>Also being played by: </p>
    <% @game.players.each do |player| %>
    <%= player.gamer_tag || player.name %></br>
    <% end %>
</p>


<p></p>
<p>
    
</p>

<header>
    <nav>
        <ul>
            <li><a href="/games"><button> Player Home </button></a></li>
            <li><a href="/logout"><button>Log Out</button></a></li>
            <% if current_user.created_games.include?(@game)%>
            <li><a href="/games/<%= @game.id %>/edit"><button>Edit Game</button></a></li>
            <% end %>
            <li><form method="POST" action="/games/<%= @game.id %>"  class="formRounded">
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete Game">
                </form>
            </li>
        </ul>
      </nav>
</header>
